body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
  
}

.first-color { 
	background: #2e94b9; 
}
	
.second-color { 
	background: #475053; 
}

.third-color { 
	background: #acdcee; 
}

.fourth-color { 
	background: #f0fbff; 
}

/* Floating Menu */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: padding 0.3s ease-in-out;
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */
    padding: 20px 0;
}

.logo-container img {
    height: 80px; /* Initial logo size */
    transition: height 0.3s ease-in-out;
}

.floating-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
}

/* Continue with your existing styles */


.floating-menu {
    /* display: flex; */
    /* position: fixed; */
    /* top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: center; */
    padding: 10px 0;
    opacity: 0.95;

}

.logo-container {
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
}

.logo img {
    height: 50px; /* Adjust based on your logo's size */
    margin-right: 20px; /* Space between logo and menu links */
}

.floating-menu a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}

/* Highlight the active menu item */
.floating-menu a.active {

    /* font-weight: bold; */
    border-radius: 5px;
    background-color: #a8e5fb;
}

/* Sections */

#home {
    /* padding: 80px 20px; */
    padding-top: 200px; /* Adjust based on the actual initial height of your header */
    transition: height 0.3s ease-in-out;

}

.section {
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

.about, .services, .portfolio, .testimonials, .contact {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-size: cover;
    background-position: center;

}

/* Home */

.home {
    flex-direction: column;
    background-color: #f5f5f5;
    text-align: center;
    color: rgb(255, 255, 255);
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.home-container h2 {
    color: #ffffff;
}
.home-container-text {
    text-align: left;
    max-width: 500px;
}
.home-container-contact {
    /* max-width: 500px; */
    text-align: left;
    width: 500px;
    color: #ffffff;

}

.home {
    background-image: url('https://images.squarespace-cdn.com/content/v1/646d7e25204b933d3f87d681/489f4c03-a9b0-4988-bb0d-4e9a7d7b11fa/banner+image.jpg');
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */

    background-size: cover;
    height: 40vh;
}

/* About */

section {
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.about {
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
}

/* Contact Form */

#contactForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#contactForm input, #contactForm textarea {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactForm button {
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;  
}

/* Services */

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between cards */
}

.service-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px; /* Width of the cards */
    height: auto; /* Ensure cards can grow based on content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card h3 {
    color: #333;
    margin-top: 0;
}

.service-card img {
    width: 100%;
    height: 150px; /* Adjust based on your image's size */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-card p {
    color: #555;
    flex-grow: 1; /* Allows the description to fill space, pushing price to the bottom */
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #f44336; /* Adjust for emphasis on price */
}

/* Portfolio */


/* Carousel Styles */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Testimonials */

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the space between cards */
}

.testimonial-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px; /* Adjust width as needed */
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

.testimonial-card p {
    font-style: italic;
    color: #555;
}

.testimonial-card:hover {
    transform: translateY(-10px); /* Optional: Adds a subtle hover effect */
}


/* Responsive behavior */

/* Mobile */

/* Responsive adjustments */
@media (max-width: 900px) {
    .logo-container img {
        height: 60px; /* Smaller logo on mobile */
    }

    .floating-menu {
        flex-direction: column; /* Stack menu items vertically on smaller screens */
        padding: 5px 0;
    }

    .floating-menu a {
        font-size: 12px; /* Smaller font size for mobile */
    }

    /* Adjust the top padding of the first section when header changes */
    .section {
        padding-top: 140px; /* Increase padding for mobile if necessary */
    }
    .services-container, .testimonial-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .service-card, .testimonial-card {
        /* Full width cards on smaller screens */
        width: 90%;
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
}
.carousel {
    max-width: 100%;
    overflow: hidden;
}

.carousel-images img {
    width: 100%; /* Ensure images are fully responsive */
    display: block; /* Adjust display as needed */
}

@media (max-width: 768px) {
    .carousel button {
        /* Adjust button sizes for easier interaction on mobile */
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .floating-menu {
        padding: 10px 0;
        display: none;

    }

    .logo-container img {
        height: 50px; /* Adjust based on your logo's size */
        max-width: 300px;
    }

    .floating-menu a {
        margin: 0 10px;
        font-size: 16px;
    }

    .section {
        padding: 40px 20px;
    }

    .home {
        height: auto;
        padding-top: 100px; /* Adjust based on the actual initial height of your header */
    }

    .home-container {
        flex-direction: column;
        gap: 20px;
    }

    .home-container-text, .home-container-contact {
        text-align: center;
        max-width: 100%;
    }

    .home-container-contact {
        width: 100%;
    }

    .service-card {
        width: 250px; /* Width of the cards */

    }
}